html {
  font-size: calc(16 / 3.75 * 1vw);
}

body {
  margin: 0;
}

html,
body,
#app {
  overflow: hidden;
}

html,
body,
#app,
#views {
  height: 100%;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.tab-highlight {
  transition: background-color 0.1s;
  &:active {
    background-color: #ade1f5;
    transition: background-color 0s;
  }
}

input,
textarea,
select {
  font-size: 1em;
  ::placeholder {
    font-size: 1em;
  }
}

.more1,
.more2 {
  width: 4.53vw;
  height: 4.53vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.more1 {
  background-image: url("~@/assets/more1.png");
}

.more2 {
  background-image: url("~@/assets/more2.png");
}
