.ck-content {
    line-height: 2;
    color: #707070;
    background-color: #fff;

    img {
      display: block;
      max-width: 100%;
    }
  
    *,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  
    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
      display: block;
    }
  
    [tabindex="-1"]:focus {
      outline: 0 !important;
    }
  
    hr {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      height: 0;
      overflow: visible;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0.5em 0;
    }
  
    p {
      margin: 1em 0;
    }
  
    abbr[title],
    abbr[data-original-title] {
      text-decoration: underline;
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted;
      cursor: help;
      border-bottom: 0;
      -webkit-text-decoration-skip-ink: none;
      text-decoration-skip-ink: none;
    }
  
    address {
      margin: 1em 0;
      font-style: normal;
      line-height: inherit;
    }
  
    ol,
    ul,
    dl {
      margin: 1em 0;
    }
  
    ol ol,
    ul ul,
    ol ul,
    ul ol {
      margin: 0 0;
    }
  
    dt {
      font-weight: 700;
    }
  
    dd {
      margin: 0.5em 0;
      margin-left: 0;
    }
  
    blockquote {
      margin: 1em 0;
    }
  
    b,
    strong {
      font-weight: bolder;
    }
  
    small {
      font-size: 80%;
    }
  
    sub,
    sup {
      position: relative;
      font-size: 75%;
      line-height: 0;
      vertical-align: baseline;
    }
  
    sub {
      bottom: -0.25em;
    }
  
    sup {
      top: -0.5em;
    }
  
    a {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
    }
  
    a:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  
    a:not([href]):not([tabindex]) {
      color: inherit;
      text-decoration: none;
    }
  
    a:not([href]):not([tabindex]):hover,
    a:not([href]):not([tabindex]):focus {
      color: inherit;
      text-decoration: none;
    }
  
    a:not([href]):not([tabindex]):focus {
      outline: 0;
    }
  
    pre,
    code,
    kbd,
    samp {
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
        monospace;
      font-size: 1em;
    }
  
    pre {
      margin: 1em 0;
      overflow: auto;
    }
  
    figure {
      margin: 1em 0;
    }
  
    img {
      vertical-align: middle;
      border-style: none;
    }
  
    svg {
      overflow: hidden;
      vertical-align: middle;
    }
  
    table {
      border-collapse: collapse;
    }
  
    caption {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      color: #6c757d;
      text-align: left;
      caption-side: bottom;
    }
  
    th {
      text-align: inherit;
    }
  
    label {
      display: inline-block;
      margin: 0.5em 0;
    }
  
    button {
      border-radius: 0;
    }
  
    button:focus {
      outline: 1px dotted;
      outline: 5px auto -webkit-focus-ring-color;
    }
  
    input,
    button,
    select,
    optgroup,
    textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  
    button,
    input {
      overflow: visible;
    }
  
    button,
    select {
      text-transform: none;
    }
  
    select {
      word-wrap: normal;
    }
  
    textarea {
      overflow: auto;
      resize: vertical;
    }
  
    fieldset {
      min-width: 0;
      padding: 0;
      margin: 0;
      border: 0;
    }
  
    legend {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0.5em 0;
      font-size: 1.5em;
      line-height: inherit;
      color: inherit;
      white-space: normal;
    }
  
    progress {
      vertical-align: baseline;
    }
    output {
      display: inline-block;
    }
  
    summary {
      display: list-item;
      cursor: pointer;
    }
  
    template {
      display: none;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0.5em 0;
      font-weight: 500;
      line-height: 1.2;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 2em;
    }
  
    h3 {
      font-size: 1.75em;
    }
  
    h4 {
      font-size: 1.5em;
    }
  
    h5 {
      font-size: 1.25em;
    }
  
    h6 {
      font-size: 1em;
    }
  
    hr {
      margin-top: 1em;
      margin: 1em 0;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  
    code {
      font-size: 87.5%;
      color: #e83e8c;
      word-break: break-word;
    }
  
    a > code {
      color: inherit;
    }
  
    kbd {
      padding: 0.2em 0.4em;
      font-size: 87.5%;
      color: #fff;
      background-color: #212529;
      border-radius: 0.2em;
    }
  
    kbd kbd {
      padding: 0;
      font-size: 100%;
      font-weight: 700;
    }
  
    pre {
      display: block;
      font-size: 87.5%;
      color: #212529;
    }
  
    pre code {
      font-size: inherit;
      color: inherit;
      word-break: normal;
    }
  
    blockquote {
      overflow: hidden;
      padding-right: 1em;
      padding-left: 1em;
      margin-left: 0;
      font-style: italic;
      border-left: 5px solid #ccc;
    }
  }