.row {
  display: flex;
  flex-direction: row;
  &.warp {
    flex-wrap: wrap;
    &.reverse {
      flex-wrap: wrap-reverse;
    }
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.row > .spring {
  height: 100%;
}
.column > .spring {
  width: 100%;
}
.rigid {
  flex-grow: 0;
  flex-shrink: 0;
}