.view-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
